$color-base-blue:       #1ea5eb;
$color-grey:            #6e6e6e;
$color-grey-text:       #424242;
$color-light-grey-text: #727272;
$color-light-grey:      #eeeeee;
$color-dark-grey:       #5e5e5e;
$color-link-background: #f9f9f9;
$color-header-background: #ffffff;
$color-white:           #ffffff;
$color-header-grey:     #9e9e9e;
$color-outline-grey:    #bdbdbd;
$color-divider-grey:    #d9d9d9;
$color-divider-light-grey: #e9e9e9;
$color-list-highlight:  #ffffa0;
$color-login-background: #eafcfb;
$color-facebook:        #3b5998;
$color-google:          #d62d20;
$color-activity-header: #eff0f1;

$color-purple:          #b318b3;

$color-love:            #db113c;
$color-green:           #21ba45;
$color-yellow:          #fbbd08;
$color-blue:            #2185d0;

$color-toolbar-button-outline: #bdbdbd;
$color-toolbar-button-divider: #dddddd;
$color-toolbar-button-background: #f9f9f9;

$color-primary: #1ea5eb;
$color-primary-dark: #0076b8;
$color-primary-light: #6cd6ff;

$color-secondary: #b8fce8;
$color-secondary-dark: #87c9b6;
$color-secondary-light: #ebffff;

$color-comment-background: #ecf0f0;

$font-huge: 5em;
$font-extra-large: 1.5em;
$font-large: 1.2em;
$font-base: 1em;
$font-small: 0.9em;
$font-extra-small: 0.8em;

$font-title-size: 1.1em;
$font-logo-size: 2.1em;

$font-weight-lato-300: 300;
$font-weight-lato-400: 400;
$font-weight-lato-700: 700;
$font-weight-lato-900: 900;

$font-weight-lora-400: 400;
$font-weight-lora-700: 700;
