//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i');
//@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
//@import url('https://fonts.googleapis.com/css?family=Neuton:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import "Constants.scss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow:hidden;
}

body, h1, h2, h3 {
  //font-family: Arial, "Helvetica Neue", "Lucida Grande";
  //font-family: 'Open Sans', sans-serif !important;
  //font-family: 'Source Sans Pro', sans-serif !important;
  //font-family: 'Noto Sans', sans-serif !important;
  //font-family: 'Montserrat', sans-serif !important;
  //font-family: 'Roboto', sans-serif !important;
  font-family: 'Lato', sans-serif;
}

.languageToggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.headerContainer {
  flex: 0 1 auto;
}

.mainContainer {
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  cursor: pointer;
}

.formError {
  color: crimson;
  padding-left: 8px;
}

.closeLightbox {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  cursor: pointer;
  
  .material-icons {
    color: white;
  }
}